extends layout

block content
  div(class="container")
    div(class="taskAdded") task added successfully 
    div(class="taskRemoved") Task removed
    p(class="title") TO DO LIST
    div(class="taskDivider")
      input(id='taskInput')
      button(id='addButton')
        i(class='fa fa-plus')
    div(class="divItems")
      table(id='itemList')
        tbody
    

  script(src='../javascripts/main.js')