extends layout

block content
  div(class="container")
    div(id="taskAdded")          
      p(style="flex-grow: 3;") Task added!          
      i(class="fa fa-close" style="flex-grow: 1;") 
    div(id="taskRemoved") 
      p(style="flex-grow: 3;") Task removed!
      i(class="fa fa-close" style="flex-grow: 1;") 
    p(class="title") TO DO LIST
    div(class="taskDivider")
      input(id='taskInput')
      button(id='addButton' disabled)
        i(class='fa fa-plus')
    div(class="divItems")
      table(id='itemList')
        tbody
    

  script(src='../javascripts/main.js')