extends layout

block content
  div(class="container")
    p TO DO LIST
    div(class="taskDivider")
      input(id='taskInput')
      button(id='addButton')
        i(class='fa fa-plus')
    ul(id='itemList')
    

  script(src='../javascripts/main.js')