:root {
  --firstColor: #F652A0;
  --secondColor: #36EEE0;
  --thirdColor: #4C5270;
  --fourthColor: #BCECE0;
  --fithColor: #F51720;
  --sixthColor: #059DC0;
}

body {
  padding: 0;
  margin: 0;
  font: 'Poppins', Helvetica, Arial, sans-serif;
  background-color: #EEEFEF;
}

a {
  color: #00B7FF;
}

#taskInput {
  width: 60%;
  max-width: 600px;
  height: 30px;
  resize: none;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 10px;
  transition: 180ms box-shadow ease-in-out;
}

#taskInput:focus {
  border-color: var(--firstColor);
  outline: 3px solid transparent;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

#addButton {
  cursor: pointer;
  height: 30px;
  margin: 10px;
  font-size: 1.2em;
  border-radius: 10px;
  border-color: transparent;
  background-color: var(--firstColor);
  opacity: 0.7;
}

#itemList {
  width: 80%;
  max-width: 800px;
  border-collapse: collapse;
  margin: auto;
  font-size: 1.2em;
}

#itemList tr td:first-child {
  width: 1px;
}

#itemList tr td:nth-child(3) {
  text-align: right;
  padding-right: 1em;
}

#itemList tr:hover {
  background-color: #DADDD8;
}

#itemList tr {
  border-bottom: 1px solid gray;
}


.btnExc {
  cursor: pointer;
  color: var(--rmNotification);
}

.taskDivider {
  padding: 1px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divItems {
  width: 80%;
  margin: 0 auto;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 4px;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.13em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--firstColor);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1.4);
}

.title {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 4em;
}

.fa-plus {
  color: #fff;
}

#taskAdded {
  width: 200px;
  height: 70px;
  background-color: var(--sixthColor);
  color: white;
  position: fixed;
  right: -20em;
  top: 2em;
  font-size: 1.5em;
  text-align: center;
  display: flex;
  border-radius: 4px;
  opacity: 0.7;
}

#taskAdded:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

#taskRemoved {
  width: 200px;
  height: 70px;
  background-color: var(--fithColor);
  color: white;
  position: fixed;
  right: -20em;
  bottom: 2em;
  font-size: 1.5em;
  text-align: center;
  display: flex;
  border-radius: 4px;
  opacity: 0.7;

}

#taskRemoved:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

@media (max-width: 630px) {

  .title {

    margin-top: 6em;
  }
}